<div id="<%= dom_id plot %>">
  <p>
    <strong>Property type:</strong>
    <%= plot.property_type %>
  </p>

  <p>
    <strong>City:</strong>
    <%= plot.city %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= plot.locality %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= plot.address %>
  </p>

  <p>
    <strong>Road width:</strong>
    <%= plot.road_width %>
  </p>

  <p>
    <strong>Plot area:</strong>
    <%= plot.plot_area %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= plot.transaction_type %>
  </p>

  <p>
    <strong>Property availability:</strong>
    <%= plot.property_availability %>
  </p>

  <p>
    <strong>Expected price:</strong>
    <%= plot.expected_price %>
  </p>

  <p>
    <strong>Price per sqyrd:</strong>
    <%= plot.price_per_sqyrd %>
  </p>

  <p>
    <strong>Corner plot:</strong>
    <%= plot.corner_plot %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= plot.images %>
  </p>

</div>
