<div id="<%= dom_id flat_rental %>">
  <p>
    <strong>Property type:</strong>
    <%= flat_rental.property_type %>
  </p>

  <p>
    <strong>Posting type:</strong>
    <%= flat_rental.posting_type %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= flat_rental.bedrooms %>
  </p>

  <p>
    <strong>Furnishing status:</strong>
    <%= flat_rental.furnishing_status %>
  </p>

  <p>
    <strong>Present in:</strong>
    <%= flat_rental.present_in %>
  </p>

  <p>
    <strong>Floor no:</strong>
    <%= flat_rental.floor_no %>
  </p>

  <p>
    <strong>Monthly rent:</strong>
    <%= flat_rental.monthly_rent %>
  </p>

  <p>
    <strong>Security deposit:</strong>
    <%= flat_rental.security_deposit %>
  </p>

  <p>
    <strong>Room facilities:</strong>
    <%= flat_rental.room_facilities %>
  </p>

  <p>
    <strong>Washrooms:</strong>
    <%= flat_rental.washrooms %>
  </p>

  <p>
    <strong>Preferred gender:</strong>
    <%= flat_rental.preferred_gender %>
  </p>

  <p>
    <strong>Tenant preference:</strong>
    <%= flat_rental.tenant_preference %>
  </p>

  <p>
    <strong>Parking availability:</strong>
    <%= flat_rental.parking_availability %>
  </p>

    
</div>
