<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body>

<div id="regForm">
<%= form_with(model: @flat_rental) do |form| %>
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center; margin-bottom:30px;">
    <div class="step"><i class="fa-solid fa-house ico" style="font-size:35px; margin-top:20%;"></i></div>
    <div class="step"><i class="fa-solid fa-indian-rupee-sign" style="font-size:35px; margin-top:20%;"></i></div>
    <div class="step"><i class="fa-solid fa-inbox" style="font-size:35px; margin-top:20%;"></i></div>
    <div class="step"><i class="fa-solid fa-image" style="font-size:35px; margin-top:20%;"></i></div>
  </div>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <h3 style="text-align:center; margin-bottom:25px;">Basic details</h3>
    <div class="form-row">
      <div class="form-holder" >
       <%= form.select :property_type, FlatRental::PROPERTY_TYPES, prompt: 'Select Property Type' , style:"" %>  
      </div>
      <div class="form-holder">
       <label for="posting_type">Posting Us:</label>&nbsp &nbsp
       <%= form.radio_button :posting_type, 'Full House' %> Full House &nbsp &nbsp
       <%= form.radio_button :posting_type, 'On Sharing' %> On Sharing House 
      </div>
    </div>
    <div class="form-row">
      <div class="form-holder" >
       <%= form.select :present_in , FlatRental::PRESENT_IN, prompt: 'select present in' %>
      </div>
      <div class="form-holder" >
       <%= form.country_select :country, priority: ['India'], class: 'form-control' %>
      </div>
    </div>  
    <div class="form-row"> 
      <div class="form-holder"> 
       <%= form.text_field :city, class: 'form-control' , placeholder:"city" %>
      </div> 
      <div class="form-holder" >
       <%= form.text_field :location, class: 'form-control' , placeholder:"location"  %>
      </div>
    </div>
    <div class="form-row">     
      <div class="form-holder"> 
       <%= form.select :furnishing_status , FlatRental::FURNISHING_STATUS, prompt: 'select furnishing status' %>
     </div>
     <div class="form-holder"> 
     </div>
    </div>   
  </div>
  <div class="tab">
    <h3 style="text-align:center; margin-bottom:25px;">Preference DETAILS</h3>
   <div class="form-row">     
      <div class="form-holder"> 
        <%= form.number_field :bedrooms, placeholder:"No. of Bedrooms" ,class:"form-control" %>
      </div>
      <div class="form-holder"> 
        <%= form.select :floor_no , FlatRental::FLOOR_NO, prompt: 'select Floor NO.' %>
      </div>
   </div>
    <div class="form-row">     
      <div class="form-holder"> 
         <%= form.number_field :washrooms, placeholder:"No. of Washroom" ,class:"form-control" %>
      </div>
      <div class="form-holder"> 
        <label for="posting_type"><b>Preferred Gender :</b></label>&nbsp &nbsp
        <%= form.radio_button :preferred_gender, 'male' %> Male &nbsp &nbsp
        <%= form.radio_button :preferred_gender, 'Femal' %> Femal &nbsp &nbsp
        <%= form.radio_button :preferred_gender, 'Both' %> Both
      </div>
   </div>
    <div class="form-row">     
      <div class="form-holder"> 
        <%= form.text_field :monthly_rent, placeholder:"Monthly Rent" ,class:"form-control" %>
      </div>
      <div class="form-holder"> 
        <label for="posting_type"><b>Tenant Preference :</b></label>&nbsp &nbsp
        <%= form.radio_button :tenant_preference, 'Professionals' %> Professionals &nbsp &nbsp
        <%= form.radio_button :tenant_preference, 'Students' %> Students &nbsp &nbsp
        <%= form.radio_button :tenant_preference, 'Both' %> Both
      </div>
   </div>
    <div class="form-row">     
      <div class="form-holder"> 
        <%= form.text_field :security_deposit, placeholder:"Security Deposit" ,class:"form-control" %>
      </div>
      <div class="form-holder"> 
        <label for="posting_type"><b>Parking Availability :</b></label>&nbsp &nbsp
        <%= form.radio_button :parking_availability, '2-whealer' %> 2-whealer &nbsp &nbsp
        <%= form.radio_button :parking_availability, 'car parking' %> car parking &nbsp &nbsp
        <%= form.radio_button :parking_availability, 'Both' %> Both
      </div>
   </div>     
  </div>
  <div class="tab">
    <h3 style="text-align:center; margin-bottom:25px;">facilities</h3>
    <table>
                    <tr>
                        <td><i class="fa-solid fa-bed sol"></i> &nbsp &nbsp <b class="textface">Bed</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Bed', nil %>
                         </td>
                        <td><svg xmlns="http://www.w3.org/2000/svg" class="sol" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M240 144A96 96 0 1 0 48 144a96 96 0 1 0 192 0zm44.4 32C269.9 240.1 212.5 288 144 288C64.5 288 0 223.5 0 144S64.5 0 144 0c68.5 0 125.9 47.9 140.4 112h71.8c8.8-9.8 21.6-16 35.8-16H496c26.5 0 48 21.5 48 48s-21.5 48-48 48H392c-14.2 0-27-6.2-35.8-16H284.4zM144 80a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM400 240c13.3 0 24 10.7 24 24v8h96c13.3 0 24 10.7 24 24s-10.7 24-24 24H280c-13.3 0-24-10.7-24-24s10.7-24 24-24h96v-8c0-13.3 10.7-24 24-24zM288 464V352H512V464c0 26.5-21.5 48-48 48H336c-26.5 0-48-21.5-48-48zM48 320h80 16 32c26.5 0 48 21.5 48 48s-21.5 48-48 48H160c0 17.7-14.3 32-32 32H64c-17.7 0-32-14.3-32-32V336c0-8.8 7.2-16 16-16zm128 64c8.8 0 16-7.2 16-16s-7.2-16-16-16H160v32h16zM24 464H200c13.3 0 24 10.7 24 24s-10.7 24-24 24H24c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/></svg> &nbsp &nbsp <b class="textface">Kichen</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Kichen', nil  %>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-shop sol"></i> &nbsp &nbsp <b class="textface">Side Table</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Side Table', nil  %>
                        </td>
                        <td><i class="fa-solid fa-table-columns sol"></i> &nbsp &nbsp <b class="textface">Cupboard</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Cupboard', nil  %>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-tv sol"></i> &nbsp &nbsp <b class="textface">TV</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'TV',  nil %>
                        </td>
                        <td><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#7a7a7a}</style><path d="M256 64H64C28.7 64 0 92.7 0 128V384c0 35.3 28.7 64 64 64H256V64zm32 384H576c35.3 0 64-28.7 64-64V128c0-35.3-28.7-64-64-64H288V448zM64 160c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160z"/></svg> &nbsp &nbsp <b class="textface">Mattress</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Mattress',  nil  %>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-fan sol"></i> &nbsp &nbsp <b class="textface">Air Cooler</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Air Cooler', nil  %>
                        </td>
                        <td><i class="fa-solid fa-wifi sol"></i> &nbsp &nbsp <b class="textface">Wi-Fi</b>
                            <%= form.check_box :room_facilities, { multiple: true, class:"facilies" }, 'Wi-Fi', nil %>                       
                        </td>
                    </tr>
                    </table><br/>
  </div>
  <div class="tab">
    <h3 style="text-align:center; margin-bottom:25px;">Upload Images</h3>
    <div style="display:flex; justify-content: center;">
        <div style="border:dotted 2px; mex-height:400px; width:500px; text-align:center;"> 
            <p>you upload atlist 4 images</p>
            <p><%= form.file_field :images, multiple: true, id:"gallery-photo-add" %></p>
            <div class="gallery"></div>
        </div>        
    </div>
    <div style="text-align:center; margin-top:30px;">       
        <%= form.submit 'Finish', class:"btn"%>                     
    </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
<% end %>  
</div>
                 
<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none"; // Hide the "Previous" button on the first step
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").style.display = "none"; // Hide the "Next" button on the last step
    document.getElementById("prevBtn").style.display = "inline"; // Show the "Previous" button on the last step
    document.getElementById("submitBtn").style.display = "inline"; // Show the "Submit" button on the last step
  } else {
    document.getElementById("nextBtn").style.display = "inline";
    document.getElementById("submitBtn").style.display = "none"; // Hide the "Submit" button for other steps
  }
 
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n);
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

<script>
    $(function() {
    // Multiple images preview in the browser
    var imagesPreview = function(input, placeToInsertImagePreview) {
        if (input.files) {
            var filesAmount = input.files.length;

            for (i = 0; i < filesAmount; i++) {
                var reader = new FileReader();

                reader.onload = function(event) {
                    // Create an image element
                    var image = $($.parseHTML('<img>')).attr('src', event.target.result);
                    
                    // Set the width of the image (change 100 to your desired width)
                    image.attr('style', 'width: 100px');

                    // Append the image to the container
                    image.appendTo(placeToInsertImagePreview);
                }

                reader.readAsDataURL(input.files[i]);
            }
        }
    };

    $('#gallery-photo-add').on('change', function() {
        imagesPreview(this, 'div.gallery');
    });
});

</script>

</body>
</html>
    